---
layout: base
---

<h1 class="uk-heading-divider">Image Gallery</h1>

<p>eXpansion2 is still being developped. We should be able to share some images of eXpansion2 soon. </p>

<p>Images below are from an old version of eXpansion1.</p>

{% for img in site.data.gallery %}
    {% assign my_variable = forloop.index0 | modulo: 2 %}
    {% if my_variable == 0 %}
        <div class="uk-grid">
            <div  class="uk-width-1-2@m">
                <img src="{{ img.img }}" />
            </div>

            <div  class="uk-width-1-2@m">
                <h3>{{ img.title }}</h3>
                <p>
                    {{ img.description }}
                </p>
            </div>
        </div>
    {% else %}
        <div class="uk-grid">
            <div  class="uk-width-1-2@m">
                <h3>{{ img.title }}</h3>
                <p>
                    {{ img.description }}
                </p>
            </div>

            <div  class="uk-width-1-2@m">
                <img src="{{ img.img }}" />
            </div>
        </div>
    {% endif %}

    <hr/>
{% endfor %}