<h4>Developer Documentation</h4>

<ul class="uk-nav uk-nav-default tm-nav">
    <li class="uk-nav-header">
        <a href="/docs/dev/install.html">Install</a></li>
    <ul class="uk-nav-sub">
        <li class=""><a href="/docs/dev/install/dev_docker.html">Install for dev using docker</a></li>
    </ul>

    <li class=""><a href="/docs/dev/introduction.html">Introduction</a></li>
    <li class=""><a href="/docs/dev/plugin_dirs.html">Plugin</a></li>
    <li class=""><a href="/docs/dev/services/data_providers.html">Data Providers</a></li>

    <li class="uk-nav-header">Services</li>
    <ul class="uk-nav-sub">
        <li class=""><a href="/docs/dev/services/helper/chat_notification.html">Chat Notification</a></li>
        <li class=""><a href="/docs/dev/services/helper/translations.html">Translations</a></li>
        <li class=""><a href="/docs/dev/services/helper/filesystem.html">File System</a></li>
        <li class=""><a href="/docs/dev/services/user_groups.html">User Groups</a></li>
        <li class=""><a href="/docs/dev/services/admingroups.html">Admin Groups</a></li>

        <li class=""><a href="/docs/dev/services/storage/player.html">Player Storage</a></li>
        <li class=""><a href="/docs/dev/services/storage/player_db.html">Players DB Storage</a></li>
        <li class=""><a href="/docs/dev/services/storage/map.html">Maps Storage</a></li>
    </ul>

    <li class="uk-nav-header">Components</li>
    <ul class="uk-nav-sub">

        <li class=""><a href="/docs/dev/services/plugins.html">Plugins</a></li>

        <li class="">
            <a href="/docs/dev/services/ui.html">User Interface</a>
            <ul class="uk-nav-sub">
                <li class=""><a href="/docs/dev/services/ui/labels.html">Labels & Translations</a></li>
                <li class=""><a href="/docs/dev/services/ui/uiElements.html">Factory: uiElements</a></li>
                <li class=""><a href="/docs/dev/services/ui/grid.html">Factory: Grid </a></li>
                <li class=""><a href="/docs/dev/services/ui/actions.html">ActionFactory</a></li>
                <li class=""><a href="/docs/dev/services/ui/scripts.html">ManiaScript</a></li>
            </ul>
        </li>

        <li class="">
            <a href="/docs/dev/services/script_methods.html">Script Methods</a>
        </li>
    </ul>

    <li class="uk-nav-header">Cook Books</li>
    <ul class="uk-nav-sub">
        <li class=""><a href="/docs/dev/cookbooks/create_chat_command.html">Creating a chat command</a></li>
    </ul>
</ul>
