<h4>Admin Documentation</h4>

<ul class="uk-nav uk-nav-default tm-nav">
    <li class="uk-nav-header">Install</li>
    <ul class="uk-nav-sub">
        <li class=""><a href="/docs/admin/install/windows.html">Install on Windows</a></li>
        <li class=""><a href="/docs/admin/install/linux.html">Install on Linux</a></li>
        <li class=""><a href="/docs/admin/install/docker.html">Install using docker</a></li>
    </ul>

    <li class="uk-nav-header">Configuration</li>
    <ul class="uk-nav-sub">
        <li class=""><a href="/docs/admin/config/configuration.html">Basic Configuration</a></li>
        <li class=""><a href="/docs/admin/config/add_admin.html">Add Admin</a></li>
        <li class=""><a href="/docs/admin/config/bundles.html">Enable/Disable a Bundle</a></li>
    </ul>

    <li class="uk-nav-header">Usage</li>
    <ul class="uk-nav-sub">
        <li><a href="/docs/admin/usage/admin_cmd.html">Admin Chat Commands</a></li>
    </ul>

</ul>
