<div  class="uk-background-secondary uk-dark">
    <div class="uk-container uk-container-large">
        <div class="uk-margin-top uk-margin-large-bottom">
		<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
			<div class="uk-navbar-center">
            <ul class="uk-subnav">
                <li>
                    <a href="https://github.com/eXpansionPluginPack/eXpansion2">
                        <span uk-icon="icon: github"></span> See on Github
                    </a>
                </li>
                <li>
                    <a href="https://github.com/eXpansionPluginPack/eXpansion2/issues">
                        <span uk-icon="icon: warning"></span> Open Issue
                    </a>
                </li>
                <li>
                    <a href="https://forum.maniaplanet.com/viewforum.php?f=518">
                        <span uk-icon="icon: question"></span> Ask a Question
                    </a>
                </li>
            </ul>
			</div>
			</nav>
            <p class="uk-text-center">
                Code by <a href="https://oliver-decramer.com/">@oliverde8</a> & @reaby with love. <br/>
                <span uk-icon="icon: code"></span>Code licensed MIT.
            </p>
        </div>
    </div>
</div>