<div class="uk-light uk-background-primary">
    <div class="uk-container uk-container-large">
        <div class="uk-margin-large-top uk-margin-large-bottom">
            <ul class="uk-subnav">
                <li>
                    <a href="https://github.com/eXpansionPluginPack/eXpansion2">
                        <span uk-icon="icon: github"></span> See on Github
                    </a>
                </li>
                <li>
                    <a href="https://github.com/eXpansionPluginPack/eXpansion2/issues">
                        <span uk-icon="icon: warning"></span> Open Issue
                    </a>
                </li>
                <li>
                    <a href="https://forum.maniaplanet.com/viewforum.php?f=518">
                        <span uk-icon="icon: question"></span> Ask a Question
                    </a>
                </li>
            </ul>

            <p>
                Code by <a href="https://oliver-decramer.com/">@oliverde8</a> & @reaby with love. <br/>
                Currently eXpansion V1 is abandoned due to game braking changes, V2 is in heavy development.
            </p>
            <p>
                <span uk-icon="icon: code"></span>Code licensed MIT.
            </p>
        </div>
    </div>
</div>