<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.23/css/uikit.min.css" />

<link rel="stylesheet" href='{{ "/assets/css/rouge.css" | absolute_url }}' />
<link rel="stylesheet" href='{{ "/assets/css/custom.css" | absolute_url }}' />


<!-- jQuery is required -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.23/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.23/js/uikit-icons.min.js"></script>

<!-- Custom JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/tocbot/3.0.0/tocbot.min.js'></script>
<script src='{{ "/assets/js/main.js" | absolute_url }}'></script>

<title>eXpansion - Maniaplanet Server Controller</title>