<div class="uk-width-1-5@xl uk-width-1-4@l uk-width-1-3@m uk-background-primary">
    <div uk-sticky="offset: 125; bottom:true; target: true" class="uk-padding-remove-top uk-light uk-section">       
            <h4>Features</h4>
			<ul class="uk-nav uk-nav-default tm-nav" >
			<li><ul class="uk-nav-sub">
			<li class=""><a href="/home/gallery.html">Screenshots</a></li>
			</ul>
			</li>
			</ul>
			<h4>Core Bundles</h4>
			<ul class="uk-nav uk-nav-default tm-nav">
				<li>
				<ul  class="uk-nav-sub">
				<a href="/home/bundles/admin_groups.html">Admin Chat Commands</a></li>
				<li><a href="/home/bundles/emotes.html">Emotes</a></li>
				<li><a href="/home/bundles/join_leave.html">Join Leave Messages</a></li>
				<li><a href="/home/bundles/jukebox.html">Jukebox (TODO)</a></li>
				<li><a href="/home/bundles/local_records.html">Local Records (TODO)</a></li>
				<li><a href="/home/bundles/dedimania.html">Dedimania (TODO)</a></li>
				<li><a href="/home/bundles/local_records_widget.html">Local Records Widget(TODO)</a></li>
				<li><a href="/home/bundles/dedimania_widget.html">Dedimania Widget(TODO)</a></li>
				<li><a href="/home/bundles/current_map_widget.html">Current Map Widgets(TODO)</a></li>
				<li><a href="/home/bundles/acme.html">Acme</a></li>
				</ul>
				</li>
            </ul>
			<h4>Community Bundles</h4>                
                <ul class="uk-nav uk-nav-default tm-nav">
                    <li>
					<ul class="uk-nav-sub">
					<li> </li>
					</ul>
					
					</li>
                </ul>
            
    </div>
</div>