<div class="uk-width-1-4@l uk-width-1-3@m">
    <div class="uk-padding-remove-top uk-section uk-section-muted uk-padding">
        <ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
            <li class="uk-nav-header">Home</li>
            <li class=""><a href="/home/gallery.html">Gallery</a></li>
            <li class="">
                <a href="/home/bundles.html">Core Bundles</a>
                <ul class="uk-nav-sub">
                    <li><a href="/home/bundles/admin_groups.html">Admin Chat Commands</a></li>
                    <li><a href="/home/bundles/emotes.html">Emotes</a></li>
                    <li><a href="/home/bundles/join_leave.html">Join Leave Messages</a></li>
                    <li><a href="/home/bundles/jukebox.html">Jukebox (TODO)</a></li>
                    <li><a href="/home/bundles/local_records.html">Local Records (TODO)</a></li>
                    <li><a href="/home/bundles/dedimania.html">Dedimania (TODO)</a></li>
                    <li><a href="/home/bundles/local_records_widget.html">Local Records Widget(TODO)</a></li>
                    <li><a href="/home/bundles/dedimania_widget.html">Dedimania Widget(TODO)</a></li>
                    <li><a href="/home/bundles/current_map_widget.html">Current Map Widgets(TODO)</a></li>
                    <li><a href="/home/bundles/acme.html">Acme</a></li>
                </ul>
            </li>
            <li class="">
                <a href="/home/bundles_other.html">Community Bundles</a>
                <ul class="uk-nav-sub">
                    <li>...</li>
                </ul>
            </li>
        </ul>
    </div>
</div>