<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
</head>
<body>
{% include main_menu.html %}


<main id="content" role="main" class="uk-margin-no-top">
    <div class="uk-container uk-container-large">
        <div class="uk-grid">
            <div class="uk-width-1-5@m uk-background-primary uk-padding uk-light">
                <h4>Getting started</h4>

                <ul class="uk-nav uk-nav-default tm-nav" >                  
                    <li>
                        Install
                        <ul class="uk-nav-sub">
                            <li class=""><a href="/docs/install/windows.html">Install on Windows</a></li>
                            <li class=""><a href="/docs/install/linux.html">Install on Linux</a></li>
                        </ul>
                    </li>
                    <li>
                        Usage
                        <ul class="uk-nav-sub">
                            <li><a href="#">Adding an Admin</a></li>
                            <li><a href="#">Enable/Disable a Bundle</a></li>
                        </ul>
                    </li>
                </ul>

                <h4>Developer Documentation</h4>

                <ul class="uk-nav uk-nav-default tm-nav">
                    <li class=""><a href="/docs/introduction.html">Introduction</a></li>

                    <li class="uk-nav-header">Helpers</li>
						<ul class="uk-nav-sub">
							<li class=""><a href="/docs/services/helper/chat_notification.html">Chat Notification</a></li>
							<li class=""><a href="/docs/services/helper/translations.html">Translations</a></li>
						</ul>
					<li class="uk-nav-header">Components</li>
						<ul class="uk-nav-sub">
							<li class=""><a href="/docs/services/data_providers.html">Data Providers</a></li>
							<li class=""><a href="/docs/services/plugins.html">Plugins</a></li>
							<li class=""><a href="/docs/services/user_groups.html">User Groups</a></li>
							<li class=""><a href="/docs/services/admingroups.html">Admin Groups</a></li>
							<li class="">
                                <a href="/docs/services/ui.html">Manialinks : User Interfaces</a>
                                <ul class="uk-nav-sub">
                                    <li class=""><a href="/docs/services/ui/labels.html">Labels & Translations</a></li>
                                    <li class=""><a href="/docs/services/ui/factories.html">Other Element Factories</a></li>
                                    <li class=""><a href="/docs/services/ui/grid.html">UI Grid</a></li>
                                    <li class=""><a href="/docs/services/ui/scripts.html">Maniascript</a></li>
                                    <li class="">...</li>
                                </ul>
                            </li>
						</ul>
					<li class="uk-nav-header">Storages</li>
						<ul class="uk-nav-sub">
							<li class=""><a href="/docs/services/storage/player.html">Players</a></li>
							<li class=""><a href="/docs/services/storage/player.html">Maps</a></li>
						</ul>
                    <li class="uk-nav-header">Cook Books</li>
					<ul class="uk-nav-sub">
						<li class=""><a href="/docs/cookbooks/create_chat_command.html">Creating a chat command</a></li>
					</ul>
                </ul>
            </div>

            <div class="uk-width-expand@m uk-background-default uk-padding doc-content" id="documentation">
                {{ content }}
            </div>

            <div class="uk-width-1-6@xl uk-width-1-5@l uk-visible@l">
                <div  uk-sticky="offset: 100; width-element: #doc_nav_container; bottom: true">
                    <div id="doc_nav">

                    </div>

                    <hr/>

                    <ul class="uk-nav uk-nav-default">
                        <li>
                            <a href='https://github.com/eXpansionPluginPack/eXpansionPluginPack.github.io/tree/master/{{ page.path }}' target="_blank">
                                <span uk-icon="icon: pencil" class="uk-margin-small-right uk-icon"></span>
                                Edit this page
                            </a>
                        </li>
                        <li>
                            <a href='https://github.com/eXpansionPluginPack/eXpansionPluginPack.github.io/issues/new?title=Page : {{ page.path }}' target="_blank">
                                <span uk-icon="icon: warning" class="uk-margin-small-right uk-icon"></span>
                                Report issue
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</main>

{% include footer.html %}
</body>
</html>