<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
</head>
<body>
	<div id="header">
		{% include main_menu.html %}
	</div>
    <main id="content" role="main" class="uk-padding-large-bottom ">
        <div class="uk-container uk-container-large">
            <div class="uk-child-width-expand@s" uk-grid>
				{% include home_menu.html %}
                <div class="uk-width-4-5@xl uk-padding uk-background-default uk-width-3-4@l uk-width-2-3@m">
                    {{ content }}
                </div>              
            </div>
        </div>
    </main>

    {% include footer.html %}
</body>
</html>